.container {
  margin: 0 auto;
  width: 80%;
}

nav, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
}

nav {
  dispaly: flex;
  flex-direction: column;
}

nav > a {
  flex:1;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }

  /* Projects sidebar */
  .project-container {display: flex; }
  .project-container .project-list { width: 20%; }
  .project-container .project { flex: 1; }
  /* End Projects sidebar */
}


a.tag {
  background-color: #ddd;
  color: #333;
  display: inline-block;
  padding: 0.1em;

  font-size: 0.9em;
  text-decoration: none;
}

/* ORIGINAL THEME STYLING */
/* body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
} */

